body {
  flex-direction: column;
  width: 80%;
  margin: 0 10%;
  color: white;
  background-color: #1a1a1d;
}

.archi-font {
  font-family: "Architects Daughter", cursive;
}

.center-text {
  text-align: center;
}

h1 {
  text-align: center;
  color: #c3073f;
  line-height: 5%;
  font-size: 100px;
  margin-top: 10%;
}

h2 {
  color: #950740;
  font-size: 35px;
}

.flex {
  display: flex;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

main {
  justify-content: space-around;
  margin-top: 5%;
}

#refresh {
  margin: 0 0 0 18%;
  background-color: #1a1a1d;
  color: #6f2232;
  padding: 2px 32px;
  text-align: center;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

section {
  flex-direction: column;
}

ul {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  width: 70%;
  list-style: none;
  padding: 3px 3px 0 3px;
}

li {
  text-align: center;
  font-size: 19px;
}

li:nth-of-type(odd) {
  background-color: #4e4e50;
}

form {
  flex-direction: column;
  width: 60%;
  align-self: flex-end;
}

input {
  margin-bottom: 8px;
  border: none;
  height: 30px;
}

#submit {
  width: 30%;
  align-self: flex-end;
  background-color: #1a1a1d;
  color: white;
  padding: 10px;
  border-radius: 25px;
  border-width: 2px;
  border-color: #6f2232;
  font-weight: bold;
  font-size: 19px;
}
